body {
  background-color: #fff3b0;
  font-family: Arial, Helvetica, sans-serif;
}

.gif {
  width: 500px;
  height: auto;
}

.title {
  font-size: 60px;
  text-align: center;
  background-color: #540b0e;
  color: #e09f3e;
}

.nav-style li a {
  font-size: 18px;
  text-decoration: underline;
  color: #540b0e;
  font-weight: bold;
}

.nav-style {
  color: #540b0e;
}
